# ▶️ Python bytecode
pycache/
*.py[cod]
*.pyo
*.pyd

# ▶️ Virtual environments
.venv/
venv/
.idea/
.env

# ▶️ Md and CSV
*.md
!README.md

# Media
media/

# DB
*.sqlite3

# Admin
static/admim/

# Migrations
myapp/migrations/