{% extends 'myapp/base.html' %}

{% block content %}
<h1>Корзина</h1>
<ul>
    {% for item in cart_items %}
    <li>
        {{ item.product.name }} - {{ item.quantity }} × {{ item.product.price }} руб.
        <a href="{% url 'remove_from_cart' item.id %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
{% if cart_items %}
<form method="post" action="{% url 'order' %}">
    {% csrf_token %}
    <button type="submit" class="order-btn">Оформить заказ</button>
</form>
{% else %}
<p>Корзина пуста.</p>
{% endif %}
{% endblock %}
