{% extends "myapp/base.html" %}

{% block title %}История заказов{% endblock %}

{% block content %}
<div class="order-history">
    <h1>История заказов</h1>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <a href="{{ order.get_absolute_url }}">Заказ #{{ order.id }} - {{ order.date_created }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет заказов</p>
    {% endif %}
</div>
{% endblock %}